@model SportsStore.Domain.Entities.Cart

<div class="navbar-right hidden-xs">
    
    @Html.ActionLink("CheckNow", "Index", "Cart",
        new { },
        new {@class = "btn btn-default navbar-btn"}
    )
</div>
<div class="navbar-right visible-xs">
    <a href=@Url.Action("Index", "Cart", new {returnUrl = Request.Url.PathAndQuery })
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>
<div class="navbar-right navbar-text">
    <b class="hidden-xs">Your Cart</b>
    @Model.lines.Sum(x => x.Quatity) item(s)
    Total:@Model.ComputeTotal().ToString("c")
</div>